.m-index-container {
  position: relative;
  header {
    width: 100%;
    height: .44rem;
    background: $base-color;
    ul{
      width:96%;
      height: .44rem;
      margin: auto;
      background: $base-color;
       @include flexbox();
       li:not(:nth-child(2)){
         width:0.44rem;
         height:0.44rem;
         text-align: center;
         line-height:0.44rem;
       }
       li:nth-child(2){
         text-align: center;
         line-height: 0.44rem;
       }
    }
  }

}
